<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
</head>
<body>
    <header>
        <button type="submit" class="submbut" id="signUp">Sign Up</button>
    </header>
    <main>
       <div class="wrapper">
            <div class="wrapper__leftside">
                <div class="slide-container" style="background-image: url(phone-frame.png); background-size: cover;">
                    <div class="slide-content" id="slide-content">
                        <img src="shoot1.png" alt="slide image" class="">
                        <img src="qr.png" alt="slide image" class="">
                        <img src="shoot2.png" alt="slide image" class="active">
                    </div>
                </div>
            </div>
            <div class="wrapper__text">
                <p class="text__description">
                    Dear visitor, <br> <br> do you know already the web application Kroken? If not, let us introduce it. If yes - You know what to do ("Sign Up" button - then Log In).
                    We developed the application to help visitors to discover new features from lovely locations like restaurants, heairdress houses and etc. Apart from that visitors can get some bonuses and spend it in these places. Owners can propmote their business by introducing some customer loyalty programs.<br><br>The application has two login types: <br>Owner of a business and Vistor<br><br>If You are owner of business - just regisrty as owner by clicking "Sign Up" button above, enter name, type of Your perfect business and other fields, then complete registration and after opening Your personal page you can easyly add offer, by filling required fields. Then You will get 3 QR-codes: <br>1.) Put on tables for visitors - they will regisrty<br> 2.) This should be given to client only after payments, that they can get bonuses on thems accounts. <br> 3.) This one required for withdrow bonuses.<br><br> If You are visitor Your choice is visitors registration, also easy - just complete form and then You will transfer on Your personal page, where You can find which offers are existing, how many bonuses you need, to get a gift and what kind of gift You can get. Once You will realase that you've done condition to get bonus - ask for QR-code, scan it and press button "Submit", You will reseive bonus in few moments. Once You will reach time for spending bonuses - ask for required QR-code, scan it and You will transfer on page where You enter count of bonuses for withdrow and press confirm button.
                </p> 
            </div>
            <div class="wrapper__rightside">
                <img src="openimg.jpg" alt="" class="dwnImg">
            </div>
        </div> 
    </main>
    
    <script src="/home.js"></script>
</body>
</html>