<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in page</title>
    <link rel="stylesheet" href="/login.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</head>
<body>
    <div class="wrapper__visitor">

        <div class="wrapper_checkbox" id="who">
            <label for="visitor" class="label">Visitor<input type="radio" name="who" value="visitor"></label>
            <label for="owner" class="label">Owner<input type="radio" name="who" value="owner"></label>
        </div><br>

        <label for="selection" class="selection_label">Choose type of business</label>
        <select name="Type_business" class="selection" id="select_type">
            <option value="restaurant">Restaurant</option>
            <option value="hairdressing_salon">Hairdressing salon</option>
            <option value="gas_station">Gas station</option>
            <option value="auto_repair_shop">Auto repair shop</option>
            <option value="pharmacy">Pharmacy</option>
            <option value="tailoring_studio">Tailoring studio</option>
            <option value="bath_sauna">Bath, sauna</option>
            <option value="bowling">Bowling</option>
            <option value="bakery">Bakery</option>
            <option value="pet_shop">Pet Shop</option>
            <option value="store">Store</option>
        </select><br><br>

        <label for="selection" class="selection_label">Choose name of business</label>
        <select name="Name_business" class="selection" id="select_name">

        </select><br><br>

        <div class="input_field">
            <iconify-icon icon="ic:outline-account-circle"></iconify-icon>
            <input type="text" class="input_text" placeholder="Enter your name" id="name">
        </div><br>

        <div class="input_field">
            <iconify-icon icon="carbon:password"></iconify-icon>
            <input type="password" class="input_text" placeholder="Enter your password" id="password">
        </div><br>

        <button type="submit" class="submbut" id="logIn">Log In</button><br>

    </div>

    <script src="/login.js"></script>
</body>
</html>