<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal page</title>
    <link rel="stylesheet" href="stylepers.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</head>
<body>
    <header>
        <section class="restname" id="currentbusiness"></section>
        <section class="language">
            <a href="#" class="language__flag" id="german"><iconify-icon icon="twemoji:flag-germany"></iconify-icon></a>
            <a href="#" class="language__flag" id="english"><iconify-icon icon="twemoji:flag-united-kingdom"></iconify-icon></a>
            <a href="#" class="language__flag" id="rus"><iconify-icon icon="twemoji:flag-russia"></iconify-icon></a>
        </section>
        <section class="personal_card">
            <div class="name" id="name"></div>
            <div class="surname" id="surname"></div>
            <label for="bonus" id="label">Your current bonus:</label>
            <div class="bonus_counter" id="bonus"></div>
        </section>
    </header>
    <main>
        <div id="offer_container">
            
        </div>
    </main>
    <script src="/perspage.js"></script>
</body>
</html>