<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonus</title>
    <link rel="stylesheet" href="/bonus.css">
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</head>
<body>
        <div class="wrapper">
            <div class="input_field"><iconify-icon icon="material-symbols:attach-money"></iconify-icon><input type="text" placeholder="Enter payment bonus" id="payment" class="input_text"></div><br>
            <button type="submit" id="confirm" class="submbut">Confirm</button><br>
        </div>
    <script src="/spendBonus.js"></script>
</body>
</html>