@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');

/* All document start */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, rgba(117,0,255,1) 25%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    height: 100%;
    justify-content: center;
}
/* All document finish */

/* Button start */
.submbut {
    width: 100px;
    height: 30px;
    background: #8316ff;
    border: none;
    border-radius: 10px;
    color: wheat;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.submbut:active {
    background: #6f00ff;
    box-shadow: none;
}

.submbut:hover {
    cursor: pointer;
}
/* Button finish */

/* Input fields start */
.input_field {
    width: 300px;
    height: 30px;
    border-radius: 15px;
    background: #8f2dffcf;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    color: bisque;
    display: flex;
    align-items: center;
}

.input_text {
    border: none;
    background: transparent;
    width: 290px;
    height: 30px;
    box-sizing: border-box;
    padding: 3px 0 0 3px;
    font-size: 18px;
    color: bisque;
}

.input_text::placeholder {
    color: rgba(245, 222, 179, 0.823);
    font-size: 18px;
}

.input_text:focus {
    outline: none;
}
/* Input fields finish */

/* labels start */
.selection_label,
.label {
    color: rgba(245, 222, 179, 0.823);
    font-size: 18px;
    width: 200px;
    height: 25px;
    border-radius: 7px;
    background: #8f2dffcf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection_label {
    border-radius: 10px 10px 0 0;
    width: 300px;
}
.selection:focus {
    outline: none;
}
.label {
    width: 150px;
}
/* labels finish */

/* Checkbox start */
.wrapper_checkbox {
    display: flex;
    width: 300px;
}
/* Checkbox finish */

/* Selection start */
.selection {
    border: none;
    color: wheat;
    font-size: 18px;
    width: 300px;
    height: 25px;
    border-radius: 0 0 10px 10px;
    background: #8f2dffcf;
    text-align: center;
}
/* Selection finish */

@media (max-width: 768px) {
    .submbut {
        width: 80px;
        height: 25px;
        font-size: 13px;
    }
}